html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}
.btn-edit {
    color: #fff;
    background-color: #cdad0f;
    
}

    .btn-edit:hover {
        color: #fff;
        background-color: #2dc416;
        border-color: #2dc416;
       
    }

.btn-delete {
    color: #fff;
    background-color: #ff0000;
}

    .btn-delete:hover {
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;

        
    }

.img {
    padding: 12px;
    width: 230px;
    height: 160px;
    margin: 10px;
}
img {
    float: left;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.wrapper {
    float: left;
    margin: 10px;
}

.thumbnail {
    background-color: grey;
}

.normal {
    text-align: center;
}

.pull-right {
    text-align: center
}
.counter {
    position: absolute;
    left: 95%;
    width: 140px;
    height: 70px;
}
.caption-full {
    position: relative;
    top: 135px;
    left: 20%;
}
.inline {
    display: inline-block;
}
.button {
    border: none;
    padding: unset;
    border-radius: 15px;
    
}
